
body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}


header a{

  background-color:cadetblue;

}
div{
  float:left;
  width: 25%;
  background: aquamarine;
}
a{
  padding-left: 10px;
  padding-right: 10px;

}
figure figcaption {
   font-size:smaller;
   text-align: center;

}
#featured-property{
  
  text-align: center;

}

#featured-property img {

  margin:auto;

}

#details div {

  float: left;

}